@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap:100,200,300,400,500,600,700');

.brand-logo {
    font-family: 'ultra', serif;
    font-size: 2em;
}

nav{
    height: 5.5em;
}

.main-heading{
    margin-left: 3em;
    margin-bottom: .1em;
}

.welcome-msg {
    font-size: 30px;
}

.box{
    width: 35%;
    margin: auto;
    margin-top: 0;
}

.collapsible {
    width: 60%;
    margin: 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    height: 4em;
}

.page-footer{
    margin-top: .3em;
}
