@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap:100,200,300,400,500,600');

body {
    background-color: #fffdd0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-family: 'ultra', serif;
}

nav{
    height: 5.5em;
}

.carousel {
    height: 400px !important;
}

.welcome-msg {
    font-size: 30px;
    text-align: justify;
}

.heading-msg {
    margin-top: 30px;
    margin-bottom: 10px;
}

.collapsible {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px 40px 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#info-card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px 30px 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn-small {
    margin: 5px 5px;
    padding: 0 0.5em;
    margin-bottom: 1em;
    border-radius: 10px;
}

footer {
    height: 4em;
}

.page-footer{
    margin-top: .3em;
}

/*----------------------------media queries*/
@media screen and (max-width: 600px) {
    .brand-logo {
       text-align: center;
     }
}
