@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap:100,200,300,400,500,600');

.brand-logo {
    font-family: 'ultra', serif;
}

nav{
    height: 5.5em;
}

.main-heading{
    margin-left: 3em;
    margin-bottom: .1em;
}

.welcome-msg {
    font-size: 30px;
}

.box{
    width: 35%;
    margin: 0 auto;
}

.collapsible {
    width: 60%;
    margin: 0 auto;
}

.card {
    width: 80%;
    border-radius: 5px 40px 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#info-card {
    width: 80%;
    border-radius: 10px 10px 10px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.add-button,
.remove-button {
    margin-top: 2em;
}

.submit-button {
    margin-bottom: 1em;
}

body {
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

footer {
    height: 4em;
}

.page-footer{
    margin-top: .3em;
}
