{% extends "base.html" %} {% block content %}

<h1 class="main-heading center-align">Welcome</h1>

<div class="container">
	<div class="row">

		<div class="col s12 welcome-msg center-align">
            <p>
                Arike's Cookbook is the African-Caribbean recipe site where you have access to different dishes from Africa and the Caribbean with the freedom to share your own idea(s) by creating, adding, editing or deleting any recipe you've created. 
            </p>

            <p>
                Join us in this cooking adventure.
            </p>

            <p>
                Happy Cooking!
            </p>
		</div>
	</div>
</div>
{% endblock %}