{% extends "base.html" %} {% block content %}

<h1 class="heading-msg left">Welcome,</h1>

<div class="row">

    <div class="col s12 welcome-msg">
        <p>
        Arike's Cookbook is the African-Caribbean recipe site where you have access to sourced recipes of different dishes from Africa and the Caribbean with the freedom to share your own idea(s) by creating, adding, editing or deleting any recipe you've created. 
        </p>
        <p>
        Dive in and join us in this recipe making and cooking adventure.
        </p>
        <p>
        Happy Cooking!
        </p>
    </div>
</div>
{% endblock %}