{% extends "base.html" %} {% block content %}

<div class="container">
    <h3 class="main-heading center-align">{{recipe.recipe_name}}</h3>

    <div class="row center-align info-header">
        <div class="col s12 m3">
            <h5><span><i class="material-icons">account_circle</i></span></h5>
            <p>Created by:&nbsp;<span>{{recipe.created_by}}</span></p>
        </div>

        <div class="col s12 m3">
            <h5><span><i class="material-icons">public</i></span></h5>
            <p>Cuisine:&nbsp;<span>{{cuisine.cuisine_type}}</span></p>
        </div>

        <div class="col s12 m3">
            <h5><span><i class="material-icons">alarm</i></span></h5>
            <p>Cooking Time(mins):&nbsp;<span>{{recipe.cooking_time}}</span></p>
        </div>

        <div class="col s12 m3">
            <h5><span><i class="material-icons">group</i></span></h5>
            <p>Servings:&nbsp;<span>{{recipe.servings}}</span></p>
        </div>
    </div>
</div>

<div class="card row" id="info-card">
    <div class="col s12 m6 center-align">
        <h5><span><i class="material-icons">list</i></span></h5>
        <p>Ingredients</p>
    </div>

    <div class="col s12 m6 center-align">
        <h5><span><i class="material-icons">speaker_notes</i></span></h5>
        <p>Instructions</p>
    </div>
</div>

{% endblock %}