{% extends "base.html" %} {% block content %}

<h1 class="heading-msg center">Recipes</h1>

<div class="row">
    <form action="{{url_for('search_recipe')}}" method="POST">
        <div class="input-field">
            <input class="search" id="search_recipes" name="search_recipes" placeholder="Search Recipes" type="search" required/>
        </div>
        <button class="btn-large waves-effect waves-light deep-orange right" type="submit" name="action">Search<i class="material-icons right">search</i></button>
    </form>
    
    <a href="{{url_for('create_recipe')}}" class="waves-effect waves-light btn-large orange left"><i class="material-icons right">create</i>Create recipe</a>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <a href="{{url_for('recipe_info', recipe_id=recipe._id)}}" class="btn btn-small waves-effect waves-orange">Read more</a>
            <i class="material-icons">local_dining</i>
            <strong>{{recipe.category_name}}</strong> <strong>({{recipe.recipe_name}})</strong><i class="material-icons">expand_more</i>
        </div>
        <div class="collapsible-body"><span>{{recipe.cuisine_type}} - {{recipe.description}}</span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}