{% extends "base.html" %} {% block content %}

<div class="box">
    <img class="responsive-img cuisines-img" src="static/images/cuisines.jpg" alt="Cuisines Image"/>
</div>

<h1 class="main-heading left-align">Recipes:</h1>
<div class="container">
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">local_dining</i>
                <strong>{{recipe.category_name}}</strong> <strong>({{recipe.recipe_name}})</strong><i class="material-icons">expand_more</i>
            </div>
            <div class="collapsible-body"><span>{{recipe.cuisine_type}} - {{recipe.description}}</span>
                <a href="{{url_for('recipe_info', recipe_id=recipe._id)}}" class="btn btn-small waves-effect waves-orange">Read more</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}